@use '../abstracts';

input{
 outline: none;
}

.input {
  border-radius: 2.5rem;
  border: 1.4px solid abstracts.$secondary-color;
  padding:1rem;
  width: 21.5625rem;
  height: 3.25rem;
  display: flex;
  justify-content: space-between;
}

.password_input {
  .forgot_password {
    color: abstracts.$text-terciary-color;
    text-align: end;
  }
}

.none-input{
  border-style: none;
}

form{
  @include abstracts.flex(column, center, center);
  gap: 1rem;
}