@use '../abstracts';

.services-section {

  position: relative;
  .services-carousel {
    
    .services-carousel-container{
      .back{
        z-index: 1;
        position: absolute;
        height: 11.3125rem;
        @include abstracts.flex(column, center, center);
      }
      .next{
        position: sticky;
        @include abstracts.flex(column, center, center);
        right: 0%;
      }

    }
    width: 100%;
    overflow-x: scroll;
    white-space: nowrap;
    .services-carousel-container {
      display: inline-flex;

      .slide {
        flex: 0 0 33%;
        max-width: 100%;
        margin-right: 1rem;
        overflow: hidden;
        .slide-item {
          text-align: center;
          width: fit-content;
          position: relative;
          img {
            border-radius: 10px;
            height: auto;
            display: block;
            width: 11.75rem;
            height: 11.3125rem;
            object-fit: cover;
          }
          p {
            background: rgba(112, 124, 248, 0.7);
            backdrop-filter: blur(2px);
            border-radius: 0 0 10px 10px;
            padding: 0.2rem;
            position: absolute;
            bottom: 0;
            width: 100%;
          }
        }
      }
    }
  }
}