$primary-color:#707CF8;
$secondary-color:#9FAAFA;
$text-primary-color:#6A6A6A;
$text-secondary-color:#202226;
$text-terciary-color:#8B8B8B;
$white:#FFFFFF;
$background-linear: linear-gradient(180deg, $secondary-color 0%, #808AF9 100%);
$white-background-linear: linear-gradient(180deg, #FFF 0%, #E7E9FF 100%);
